@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }

  .custom-list {
    list-style-type: none;
  }
  
  .custom-list li {
    display: flex;
    gap: 0.6rem;
  }
    
  .custom-list li::before {
    flex: none;
    content: "";
    margin-top: 0.6rem;
    width: 0.3rem; /* Equivalente a w-2.5 */
    height: 0.3rem; /* Equivalente a h-2.5 */
    background-color: #72C8ED; /* Cor verde do Tailwind (green-500) */
    border-radius: 9999px; /* Equivalente a rounded-full */
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
